/* --floral-white: #fffcf2ff;
--timberwolf: #ccc5b9ff;
--black-olive: #403d39ff;
--eerie-black: #252422ff;
--flame: #eb5e28ff; */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

a {
    color: inherit;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

@font-face {
    font-family: carmela;
    src: url(carmela/Carmela.woff);
}

nav{
    background-color: #fffcf2ff;
    border-bottom: 2px solid #252422ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.logo{
    padding: 12px 32px;
    font-family: carmela;
    font-weight: 900;
    font-size: 1.5rem;
}

/* .logo:hover{
    font-size: 2rem;
} */

.nav-list{
    /* display: none; */
    list-style: none;
    display: flex;
    font-family: "Montserrat", sans-serif;
}

.nav-element{
    padding: 14px 32px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-element:hover{
    background-color: #252422ff;
    color: #FFF;
}

.nav-toggle{
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    /* background-color: teal; */
    height: 2rem;
    aspect-ratio: 1;
    background-color: inherit;
    border: none;
    z-index: 100;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.portada{
    min-height: 70vh;
    display: flex;
    align-items: flex-end;
    background-color: #fffcf2ff;
}

.segunda{
    min-height: 55vh;
    background-color: #ccc5b9ff;
    color: #252422ff;
}

.title {
    font-family: carmela;
    font-size: 12rem;
    font-weight: bold;
    padding: 54px 24px 0px;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 16px 24px;
}

@media only screen and (max-width: 801px) {
    .nav-list{
        background-color: rgba(256, 256, 256, 0.8);
        backdrop-filter: blur(0.3rem);
        flex-direction: column;
        /* align-items: center; */
        font-size: 2rem;
        position: fixed;
        inset: 0 0 0 0;
        padding: 10rem 2rem;
        transform: translateX(100%);
        transition: all 350ms ease-out;
    }

    /* .hidden-mobile{
        display: none; 
    } */

    .nav-open{
        transform: translateX(0%);
    }

    .nav-element{
        padding: 1em;
    }

    .nav-toggle{
        display: block;
    }

    .title{
        font-size: 6rem;
    }
}