:root[data-theme="light"]{
    --color-fondo: #fffcf2ff;
    --color-fondo2: #ccc5b9ff;
    --color-blur: rgba(256, 256, 256, 0.8);
    --color-texto: #252422ff;
    --color-acento: #eb5e28ff;
    color-scheme: light;
}

:root[data-theme="dark"]{
    --color-fondo: #121212;
    --color-fondo2: #282828;
    --color-blur: rgba(0, 0, 0, 0.8);
    --color-texto: #fffcf2ff;
    --color-acento: #eb5e28ff;
    color-scheme: dark;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

a {
    color: inherit;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif ;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
    font-family: carmela;
    src: url(carmela/Carmela.woff);
}

/* @font-face {
    font-family: edda;
    src: url(edda/EddaFilled.ttf);
} */

.title {
    font-family: carmela;
    font-size: 12rem;
    font-weight: bold;
    padding: 54px 24px 0px;
    text-transform: uppercase;
}

nav{
    background-color: var(--color-fondo);
    border-bottom: 2px solid var(--color-texto);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo{
    padding: 12px 32px;
    font-family: carmela;
    font-weight: 900;
    font-size: 1.5rem;
}

.nav-list{
    /* display: none; */
    list-style: none;
    display: flex;
}

.nav-element{
    padding: 14px 32px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-element:hover{
    background-color: var(--color-texto);
    color: var(--color-fondo);
}

.toggle-theme{
    padding: 0;
}

#btn-theme{
    padding: 14px 32px;
    background-color: #0000;
    color: inherit;
    border: none;
    /* color: var(--color-texto); */
}

/* .nav-element:hover #btn-theme{
    background-color: var(--color-fondo);
    color: var(--color-texto); 
} */

/* .nav-element:hover .material-symbols-outlined{
    color: var(--color-fondo);
} */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.nav-toggle{
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    height: 2rem;
    aspect-ratio: 1;
    /* background-color: teal; */
    background-color: #0000;
    border: none;
    z-index: 100;
    color: var(--color-texto);
}

.portada{
    min-height: 70vh;
    display: flex;
    align-items: flex-end;
    background-color: var(--color-fondo);
}

.segunda{
    min-height: 55vh;
    background-color: var(--color-fondo2);
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
}

.rubros{
    display: flex;
    width: 100%;
    border-bottom: solid 1px var(--color-texto);
}

.flex-reversed{
    flex-direction: row-reverse;
}

.rubros img{
    width: 500px;
    height: 300px ;
    border: solid 4px var(--color-texto);
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.rubros p{
    text-align: justify;
    font-size: 25px;
    width: 600px;
    margin-top: 50px;
    margin-left: 50px;
}

.separation-bands{
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    background-color: var(--color-texto);
    color: var(--color-fondo);
}

.tercera{
    min-height: 55vh;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.proyectos-title{
    margin: 0px;
    padding: 0px;
    transform: rotate(90deg);
    background-color: var(--color-fondo);
    height: auto;
    /* position: absolute;
    right: 0; */
    text-transform: uppercase;
    font-size: 10rem;
}

.proyectos-container{
    background-color: var(--color-fondo);
    min-height: 55vh;
    width: 75vw;

}

.proyecto{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15%;
}

.proyecto img{
    width: 500px;
    height: 300px ;
    border: solid 4px var(--color-texto);
}

.proyecto p{
    text-align: justify;
    font-size: 25px;
    width: 600px;
    margin-left: 50px;
    margin-right: 50px;
}

@media only screen and (max-width: 801px) {
    .nav-list{
        background-color: var(--color-blur);
        backdrop-filter: blur(0.3rem);
        flex-direction: column;
        /* align-items: center; */
        font-size: 2rem;
        position: fixed;
        inset: 0 0 0 0;
        padding: 10rem 2rem;
        transform: translateX(100%);
        transition: all 350ms ease-out;
    }

    .toggle-theme{
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .nav-open{
        transform: translateX(0%);
    }

    .nav-element{
        padding: 1em;
    }

    .nav-toggle{
        display: block;
    }

    .title{
        font-size: 4rem;
    }
}